force-app/main/default/flows/checkNotActivePricebooks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>checkIsNotActive</name>
        <label>checkIsNotActive</label>
        <locationX>1276</locationX>
        <locationY>636</locationY>
        <defaultConnector>
            <targetReference>LoopForActivePricebooks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>current_date_not_during_pricebook</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>LoopForActivePricebooks.End_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopForActivePricebooks.End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setIsNotActive</targetReference>
            </connector>
            <label>current_date_not_during_pricebook</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkIsNotActive_0</name>
        <label>checkIsNotActive</label>
        <locationX>396</locationX>
        <locationY>756</locationY>
        <defaultConnector>
            <targetReference>LoopForActivePricebooks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>current_date_not_during_pricebook_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>LoopForActivePricebooks.Start_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>LoopForActivePricebooks.End_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setIsNotActive_0</targetReference>
            </connector>
            <label>current_date_not_during_pricebook</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkIsNotActive_0_0</name>
        <label>checkIsNotActive</label>
        <locationX>836</locationX>
        <locationY>756</locationY>
        <defaultConnector>
            <targetReference>LoopForActivePricebooks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>current_date_not_during_pricebook_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>LoopForActivePricebooks.Start_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setIsNotActive_0_0</targetReference>
            </connector>
            <label>current_date_not_during_pricebook</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkNoActiveEndDate</name>
        <label>checkNoActiveEndDate</label>
        <locationX>616</locationX>
        <locationY>636</locationY>
        <defaultConnector>
            <targetReference>checkIsNotActive_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkNoActiveEndDateField</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopForActivePricebooks.End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkIsNotActive_0</targetReference>
            </connector>
            <label>checkNoActiveEndDateField</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkStartDate</name>
        <label>checkStartDate</label>
        <locationX>946</locationX>
        <locationY>516</locationY>
        <defaultConnector>
            <targetReference>checkIsNotActive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkStartDateField</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopForActivePricebooks.Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkNoActiveEndDate</targetReference>
            </connector>
            <label>checkStartDateField</label>
        </rules>
    </decisions>
    <interviewLabel>checkNotActivePricebooks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>checkNotActivePricebooks</label>
    <loops>
        <name>LoopForActivePricebooks</name>
        <label>LoopForActivePricebooks</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <collectionReference>PricebookActiveRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checkStartDate</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>PricebookActiveRecords</name>
        <label>PricebookActiveRecords</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopForActivePricebooks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>setIsNotActive</name>
        <label>setIsNotActive</label>
        <locationX>1144</locationX>
        <locationY>756</locationY>
        <connector>
            <targetReference>LoopForActivePricebooks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopForActivePricebooks.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Pricebook2</object>
    </recordUpdates>
    <recordUpdates>
        <name>setIsNotActive_0</name>
        <label>setIsNotActive</label>
        <locationX>264</locationX>
        <locationY>876</locationY>
        <connector>
            <targetReference>LoopForActivePricebooks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopForActivePricebooks.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Pricebook2</object>
    </recordUpdates>
    <recordUpdates>
        <name>setIsNotActive_0_0</name>
        <label>setIsNotActive</label>
        <locationX>704</locationX>
        <locationY>876</locationY>
        <connector>
            <targetReference>LoopForActivePricebooks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopForActivePricebooks.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Pricebook2</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>PricebookActiveRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Pricebook2</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-05-30</startDate>
            <startTime>00:01:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
