force-app/main/default/flows/checkActive_PricebookDate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>checkEndDate</name>
        <label>checkEndDate</label>
        <locationX>616</locationX>
        <locationY>516</locationY>
        <defaultConnector>
            <targetReference>checkIsActive_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkEndDateField</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopForPricebooks.End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkIsActive_0</targetReference>
            </connector>
            <label>checkEndDateField</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkIsActive_0</name>
        <label>checkIsActive</label>
        <locationX>396</locationX>
        <locationY>636</locationY>
        <defaultConnector>
            <targetReference>LoopForPricebooks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>current_date_during_pricebook_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>LoopForPricebooks.Start_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>LoopForPricebooks.End_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopForPricebooks.Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setIsActive_0_0_0_0</targetReference>
            </connector>
            <label>current_date_during_pricebook</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkIsActive_0_0</name>
        <label>checkIsActive</label>
        <locationX>836</locationX>
        <locationY>636</locationY>
        <defaultConnector>
            <targetReference>LoopForPricebooks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>current_date_during_pricebook_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>LoopForPricebooks.Start_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopForPricebooks.Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setIsActive_0_0_0</targetReference>
            </connector>
            <label>current_date_during_pricebook</label>
        </rules>
    </decisions>
    <interviewLabel>checkActive_PricebookDate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>checkActivePricebooks</label>
    <loops>
        <name>LoopForPricebooks</name>
        <label>LoopForPricebooks</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <collectionReference>PricebookRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checkEndDate</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>PricebookRecords</name>
        <label>PricebookRecords</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopForPricebooks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>setIsActive_0_0_0</name>
        <label>setIsActive</label>
        <locationX>704</locationX>
        <locationY>756</locationY>
        <connector>
            <targetReference>LoopForPricebooks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopForPricebooks.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Pricebook2</object>
    </recordUpdates>
    <recordUpdates>
        <name>setIsActive_0_0_0_0</name>
        <label>setIsActive</label>
        <locationX>264</locationX>
        <locationY>756</locationY>
        <connector>
            <targetReference>LoopForPricebooks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopForPricebooks.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Pricebook2</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>PricebookRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Pricebook2</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-05-30</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
